*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 100;
  font-weight: 40;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  background-color: #FFF8E7;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: 900;
  font-weight: 500;
  padding: 10px;
}

h1 span {
  color: orange;
  font-style: bolder;
}

.group-container {
  font-size: 16px;
  margin-bottom: 15px;
  /* display: flex; */
}

.group-container label {
  /* display: block; */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.group-container input {
  border: none;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 2px 4px 4px gray;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  color: white;
  margin-top: 20px;
}

form button:hover{
  background-color: #F09617;
}

.info {
  padding-top: 20px;
}

.bmi-value {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}

.result {
  color: black;
}

@media (max-width: 600px) {
  .container {
    max-width: fit-content;
  }
  .group-container{
    flex-direction: column;
    align-items: center;
  }
  .group-container input {
    width: 100%;
    min-width: auto;
  }
}