*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}

.wiki-logo{
    width: clamp(20px, 25vw, 250px);
    display: block;
    margin: 50px auto 0;
}
h1 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
}

h1 span {
    font-weight: 600;
}

form {
    max-width: 800px;
    margin: 0 auto 30px;
}

input {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px gray;
}

.error-msg {
    text-align: center;
    color: gray;
}

.display-result {
    max-width: 600px;
    margin: 70px auto;
}

.loader {
    display: none;
    justify-content: center;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 3px;
    animation: load 0.3s infinite ease-out alternate; /* dure 0.3 sec, infiniment, lent a la fin, en alternant*/
}

/* pour faire alternet le mouvement entre les 3 dot*/
.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes load {
    to {
        transform: translateY(10px);
    }
}

.result-item {
    margin-bottom: 20px;
}

.result-title {
    font-size: 22px;
}

.result-snippet {
    font-size: 15px;
    color: #444;
}

.result-link { 
    color: green;
    text-decoration: none;
    display: block;
    overflow-wrap: break-word;
}
